/* All cars available to rent  */
.allCars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  /* max-width: 1200px;*/
  padding: 0 20px;
}
/* All cars title */
.allCarsTitle {
  font-size: 2rem;
  font-weight: 700;
  /* margin: 0 auto; */
  text-align: center;
  width: 100%;
}
/* A car available to rent*/
.car {
  display: flex;
  flex-direction: column;
  font-size: medium;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.carRented{
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    filter: grayscale(100%);
}


/* A button for rent a car */
.carButton {
  background-color: #c50000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.carButton:hover {
  background-color: #fff;
  color: #c50000;
  border: 1px solid #c50000;
}
/* Car button disabled  */
.carButtonDisabled {
  cursor: not-allowed;

  background-color: #c50000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;

}
/* Small car images */
.carImg{
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.filterform{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mainContent{
  display: flex;
  flex-direction: row;

}
