/* A dashboard showing all rented cars, all posts, all registered cars */
.AllSections{

}
.pageTitle{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.title{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.aSection{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
.sectionTitle{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
}
.aElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}