/* Footer. Always at bottom of page but not fixed at bottom screen */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e6e6e;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
