/* Darkmode global page with links white and no underline*/
/* body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
} */
