/* white background, all links removed decoration */
body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

